h1, h2{
	color: white;
    background: black
}
nav {
	color: blue;
}
.bigSection{
	height: 300px;
	background-image: url(../img/chuck.jpg);
	background-position: center;
	background-attachment: fixed;
}